<h1>Your Bookmarks</h1>

<% @bookmarks.each do |bookmark| %>

<div class="box">
  <b>Title :</b>
  <p><%= bookmark.title() %></p>

  <b>URL :</b>
  <p><%= bookmark.url() %></p>

  <b>Genre :</b>
  <p><%= bookmark.genre() %></p>

  <b>Description :</b>
  <p><%= bookmark.description() %></p>

  <a href="/bookmark/<%= bookmark.id %>">View Bookmark</a>
  </div>

  <br>

<% end %>