<div class="box">
<b>Title :</b>
<p><%= @bookmark.title() %></p>

<b>URL :</b>
<p><%= @bookmark.url() %></p>

<b>Genre : </b>
<p><%= @bookmark.genre() %></p>

<b>Description : </b>
<p><%= @bookmark.description() %></p>

<a href="/bookmark/<%= @bookmark.id %>/edit">Edit Your Bookmark</a>
<form action="/bookmark/<%= @bookmark.id %>/delete" method="post">
  <input class="delete" type="submit" value="Delete"></input>
</form>
</div>
